html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 110px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: #f5f5f5;
}

.overlap
{
    position: relative;
  
}
.overlap:after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
}
