html {
  height:100%;
}


.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-bottom: 20px;
}


body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  background-color:#FFFFFB;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color:#345773;
  text-align:center;
}
