<!doctype html>
<html lang="en">

{% block head %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css')}}">
  <title>{% block title %}{% endblock %}</title>
</head>
{% endblock %}

{% block body %}
<body>
  <main class = "screen">
    {% block screen %}{% endblock %}
  </main>
  <sub>
    {% block text %}{% endblock %}
  </sub>
  <sub>
    {% block buttons %}{% endblock %}
  </sub>
  {% block footer %}
  <hr>
  <footer class="footer">
    <div class="container pt-3">
      <p class="text-muted my-0">Taejoon Kim | Connor Oh | Leia Park | Manfred Tan</p>
      <p class="text-muted my-0">Copyright &copy; 2020</p>
    </div>
  </footer>
  {% endblock %}
  {% block script %}
  {% endblock %}
</body>
{% endblock %}

</html>
