{% extends "gamescreen.html" %}



{% block text %}
<div class="container bg-light text-center my-5">
  <p class="lead py-1">Choose your crew members: </p>
</div>
{% endblock %}

{% block type %}
<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <form action="/shop1" method="POST">
        <div class="input-group mb-3" style="width: auto;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">></span>
          </div>
          <input type="text" class="form-control" placeholder="Type Response" aria-label="response" aria-describedby="basic-addon1" name="input0">
        </div>

        <div class="input-group mb-3" style="width: auto;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">></span>
          </div>
          <input type="text" class="form-control" placeholder="Type Response" aria-label="response" aria-describedby="basic-addon1" name="input1">
        </div>

        <div class="input-group mb-3" style="width: auto;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">></span>
          </div>
          <input type="text" class="form-control" placeholder="Type Response" aria-label="response" aria-describedby="basic-addon1" name="input2">
        </div>

        <button class="btn btn-sm btn-warning mt-3 mr-3  d-none" type="Next Day">Enter</button>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

{% endblock %}

{% block buttons %}{% endblock %}

{% block script %}
<script src="javascript/method.js"></script>
</script>
{% endblock %}
