{% extends "gamescreen.html" %}

{% block screen %}
<div class="container rounded bg-dark mt-5 text-center" style = "width: 550px;">
  <div class="display-3" id="daynum"></div>
  <img src="../static/images/placeholder.jpg"  class="rounded mx-auto d-block" alt="Responsive image" style="width: 500px; height: 300px; padding-top: 30px; padding-bottom: 30px;">
</div>
{% endblock %}

{% block text %}
<div class="container bg-light text-center my-5">
  <p class="lead py-5">Crew Status:</p>
  <p class="lead py-5">Hunger: {{crewStat[0]}}</p>
  <p class="lead py-5">Energy: {{crewStat[1]}}</p>
  <p class="lead py-5">Health: {{crewStat[2]}}</p>
  <p class="lead py-5">Ship Health: {{crewStat[3]}}</p>
  <p class="lead py-5">{{crewMessages[0]}}</p>
  <p class="lead py-5">{{crewMessages[1]}}</p>
  <p class="lead py-5">{{crewMessages[2]}}</p>
  <p class="lead py-5">0. Continue</p>
</div>

{% endblock %}



{% block script %}
<script src="javascript/method.js"></script>
</script>
{% endblock %}
