{% extends "gamescreen.html" %}

{% block screen %}
<div class="container rounded bg-dark mt-5 text-center" style = "width: 550px;">
  <div class="display-3" id="daynum"></div>
  <img src="../static/images/placeholder.jpg"  class="rounded mx-auto d-block" alt="Responsive image" style="width: 500px; height: 300px; padding-top: 30px; padding-bottom: 30px;">
</div>
{% endblock %}

{% block text %}
  <div class="container bg-light text-center my-5">
    <p class="lead py-5">Choose your difficulty:</p>
    <p class="lead py-5">0. Easy </p>
    <p class="lead py-5">1. Medium </p>
    <p class="lead py-5">2. Hard</p>
  </div>

{% endblock %}


{% block script %}
<script src="javascript/method.js"></script>
</script>
{% endblock %}
