{% extends "base.html" %}

{% block screen %}
<div class="contatiner d-flex justify-content-center">
  <!-- <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm"> -->
      <div class="bg-primary jumbotron text-center text-white" style="width:900px">
        <h1 class="display-4">Space Trail</h1>
        <p class="lead">Copyright &copy; Fredman 2020</p>
        <iframe src="https://giphy.com/embed/3pB3a5842soMe2RbBL" width="100" height="100" frameBorder="0" class="giphy-embed"></iframe>
        <hr class="my-4">
        <form action="/start" method="GET">
          <button class="btn btn-sm btn-outline-warning mt-3 mr-3" type="submit">Play</button>
        </form>
      </div>
    <!-- </div>
    <div class="col-sm"></div>
  </div> -->
</div>
{% endblock %}
