{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
  <form action="/login" method='POST'>
    <h1 class="h3 mb-3">Please sign in</h1>
    <input type="text" placeholder="Username" name="username" required autofocus>
    <input type="password" placeholder="Password" name="password" required>
    <button class="btn btn-lg mt-3 btn-primary btn-block" type="submit" name="loginsub">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
  </form>
</div>
{% endblock %}
