{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class = "container">
  <div class="row">
    <div class="row-sm">
    </div>
    <div class="row-sm">
      <form action='/login', method="GET">
            Username:
            <br>
            <input type = 'text' name = 'username'>
            <br>
            <br>
            Password:
            <br>
            <input type = 'password' name = 'password' >
            <br>
            <br>
            <input type = 'submit' name = 'loginsub'>
            <br>
            <br>
        </form>
    </div>
    <div class="row-sm">
    </div>
  </div>
</div>
{% endblock %}
