{% extends "base.html" %}



{% block screen %}
<div class="container rounded bg-dark mt-5 text-center" style = "width: 550px;">
  <div class="display-3" id="daynum"></div>
  <img src="../static/images/placeholder.jpg"  class="rounded mx-auto d-block" alt="Responsive image" style="width: 500px; height: 300px; padding-top: 30px; padding-bottom: 30px;">
</div>
{% endblock %}

{% block text %}
<div class="container bg-light text-center">
  <p class="lead">
    0. Buy Ship Parts         1. Sell Ship Parts<br>
    2. Buy Fuel               3. Sell Fuel<br>
    4. Buy Food               5. Sell Food<br>
    6. Buy Bandages           7. Sell Bandages<br>
    8. Buy Weapons            9. Sell Weapons<br>
    10. Continue<br>
    {{message}}
    <br>
    Balance: {{stat[3]}} <br>
    Ship parts: {{stat[4]}}<br>
    Fuel: {{stat[2]}}<br>
    Food: {{stat[1]}}<br>
    Bandages: {{stat[0]}}<br>
    Weapons: {{stat[5]}}<br>
  </p>
<div>
{% endblock %}


{% block script %}
<script src="javascript/method.js"></script>
</script>
{% endblock %}
