{% extends "gamescreen.html" %}



{% block screen %}
<div class="container rounded bg-dark mt-5 text-center" style = "width: 550px;">
  <div class="display-3" id="daynum"></div>
  <img src="../static/images/placeholder.jpg"  class="rounded mx-auto d-block" alt="Responsive image" style="width: 500px; height: 300px; padding-top: 30px; padding-bottom: 30px;">
</div>
{% endblock %}

{% block text %}
<div class="container bg-light text-center my-5">
  <p class="lead py-5">0. Buy Ship Parts         1. Sell Ship Parts</p>
  <p class="lead py-5">2. Buy Fuel               3. Sell Fuel</p>
  <p class="lead py-5">4. Buy Food               5. Sell Food</p>
  <p class="lead py-5">6. Buy Bandages           7. Sell Bandages</p>
  <p class="lead py-5">8. Buy Weapons            9. Sell Weapons</p>
  <p class="lead py-5">10. Continue</p>
  <p class="lead py-5">{{message}}</p>
  <p class="lead py-5">Balance: {{stat[3]}}</p>
  <p class="lead py-5">Ship parts: {{stat[4]}}</p>
  <p class="lead py-5">Fuel: {{stat[2]}}</p>
  <p class="lead py-5">Food: {{stat[1]}}</p>
  <p class="lead py-5">Bandages: {{stat[0]}}</p>
  <p class="lead py-5">Weapons: {{stat[5]}}</p>
<div>
{% endblock %}


{% block script %}
<script src="javascript/method.js"></script>
</script>
{% endblock %}
