{% extends "base.html" %}

{% block text %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"  style="width: 800px;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="bg-primary card text-center" style="width: 800px; height: 450px;">
              <div class="card-body text-black">
                <img src="../static/images/person.png" alt="person 1" style="width: 250px; height: 250px">
                <hr>
                <div class="text-black" style="padding-right: 20px;">Health</div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="padding: 20px;"></div>
                </div>
                <div class="text-black" style="padding-right: 20px;">Hunger</div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%; padding: 20px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="padding: 20px;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-secondary card text-center" style="width: 800px; height: 450px;">
              <div class="card-body text-black">
                <img src="../static/images/person.png" alt="person 2" style="width: 250px; height: 250px">
                <hr>
                <div class="text-black" style="padding-right: 20px;">Health</div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="padding: 20px;"></div>
                </div>
                <div class="text-black" style="padding-right: 20px;">Hunger</div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%; padding: 20px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="padding: 20px;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-success card text-center" style="width: 800px; height: 450px;">
              <div class="card-body text-black">
                <img src="../static/images/person.png" alt="person 3" style="width: 250px; height: 250px">
                <hr>
                <div class="text-black" style="padding-right: 20px;">Health</div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="padding: 20px;"></div>
                </div>
                <div class="text-black" style="padding-right: 20px;">Hunger</div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%; padding: 20px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="padding: 20px;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-danger card text-center" style="width: 800px; height: 450px;">
              <div class="card-body text-black">
                <img src="../static/images/person.png" alt="person 4" style="width: 250px; height: 250px">
                <hr>
                <div class="text-black" style="padding-right: 20px;">Health</div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="padding: 20px;"></div>
                </div>
                <div class="text-black" style="padding-right: 20px;">Hunger</div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%; padding: 20px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="padding: 20px;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-warning card text-center" style="width: 800px; height: 450px;">
              <div class="card-body">
                <img src="../static/images/person.png" alt="person 5" style="width: 250px; height: 250px">
                <hr>
                <div class="text-black" style="padding-right: 20px;">Health</div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="padding: 20px;"></div>
                </div>
                <div class="text-black" style="padding-right: 20px;">Hunger</div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%; padding: 20px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="padding: 20px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
{% endblock %}

{% block buttons %}
<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm" style="align-items: center;">
      <form action="/game" method="GET">
        <button class="btn btn-sm btn-warning mt-3 mr-3" type="submit" align="center">Go Back</button>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
{% endblock %}
